@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: #1c1c1c;
}

html {
  font-size: 62.5%;
}

#mobile {
  display: none;
}

/*header*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.6rem;
  padding: 0 10%;
  background-color: #424242;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#header-home {
  text-decoration: none;
  color: white;
}

.starter {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.starter h1 {
  font-size: 3rem;
}

.starter span {
  font-size: 3rem;
  color: blueviolet;
}

/* Perfil */

#avatar-btn {
  height: 4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estado inicial (invisível) */
.modal-avatar {
  position: absolute;
  top: 6.5rem;
  right: 1rem;
  background-color: #424242;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  width: 20rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 200;
  pointer-events: none;
}

.modal-avatar a {
  text-decoration: none;
}

/* Estado visível */
.modal-avatar.show {
  opacity: 1;
  /* Torna visível */
  transform: translateY(0);
  /* Volta à posição original */
  pointer-events: auto;
  /* Permite cliques */
}

.modal-avatar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal-avatar li {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal-avatar li:hover {
  background-color: #1c1c1c;
}

#seta-modal {
  position: absolute;
  font-size: 2rem;
  top: -1.5rem;
  right: 3.7rem;
  z-index: 201;
}

#sair {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  align-items: center;
}

/*header*/

main {
  height: calc(100vh - 5.6rem);
  margin-top: 5.6rem;
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
}

section h1 {
  margin-top: 2rem;
  font-size: 3rem;
  color: white;
  margin-bottom: 4rem;
  font-weight: bold;
  font-size: 4rem;
}

section .avatar {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

section .avatar .avatar-edit {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section .avatar span {
  font-size: 2rem;
  color: white;
}

section .avatar input {
  height: 5.6rem;
  width: 100%;
}

section .avatar input {
  padding-left: 2rem;
}

section .avatar img {
  width: 12rem;
  height: 12rem;
}

section h2 {
  font-size: 2.5rem;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

section .contato input {
  height: 8.8rem;
  width: 100%;
}
