main {
    margin-left: 8rem;
    margin-top: 5.6rem;
    height: calc(100% - 5.6rem);
    width: calc(100% - 8rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    color: whitesmoke;
    text-transform: uppercase;
}

main span {
    color: blueviolet;
}

#nResultado {
    margin-top: 30rem;
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.card {
    background-color: #424242;
    border-radius: 0.8rem;
    box-shadow: 0 1rem 3rem -1rem black;
    padding: 2rem;
    width: 30rem;
    text-align: left;
    color: white;
}

.card-fundo {
    background-color: #4f4f4f;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.card-fundo p {
    font-size: 1.5rem;
}

.card h2 {
    font-size: 3rem;
    color: rgb(170, 106, 230);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

/*botao*/

.card button {
    --color: white;
    background-color: blueviolet;
    font-family: inherit;
    display: inline-block;
    width: 100%;
    height: 4.5rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: none;
    transition: color 0.5s;
    z-index: 1;
    font-size: 2rem;
    font-weight: 500;
    color: var(--color);
    border-radius: 1rem;
    margin-top: 0.5rem;
}

.card button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 40rem;
    width: 80rem;
    border-radius: 50%;
}

.card button:hover {
    color: black;
}

.card button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

.card button:hover:before {
    top: -8rem;
    left: -10rem;
}

/* Responsivel */
@media screen and (max-width: 1200px) {
    main {
        margin-left: 0;
        width: 100%;
        margin-top: 6rem;
        margin-bottom: 8rem;
        padding: 0 4%;
    }

    .card {
        width: 100%;
    }

    .cards {
        width: 100%;
    }
}