main {
    margin-left: 8.2rem;
    margin-top: 5.6rem;
    height: calc(100% - 5.6rem);
    width: calc(100% - 8.2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#nResultado {
    position: fixed;
    top: 50%;
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

main h1 {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    color: whitesmoke;
}

main span {
    color: blueviolet;
}

table {
    border: none;
    color: white;
    border-collapse: collapse;
    height: 30px;
    width: 80%;
}

table th,
table td {
    padding: 5px;
    text-align: left;
}

table tr {
    background-color: #4f4f4f;
    border: 0.2rem solid #424242;
    font-size: 1.6rem;
}

table th {
    background-color: #424242;
    color: rgb(170, 106, 230);
    font-size: 2rem;
    text-align: center;
    border: none;

}

/* Responsivel */
@media screen and (max-width: 1200px) {
    main {
        margin-left: 0;
        width: 100%;
        margin-top: 6rem;
        margin-bottom: 8rem;
        padding: 0 4%;
    }

}