header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #424242;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  color: white;
}

.starter {
  display: flex;
  align-items: center;
  margin-left: 25px;
  gap: 25px;
}

/*ABRIR SIDE BAR*/

.open {
  justify-content: space-between;
}

#open_btn {

  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-size: 20px;
  margin-bottom: 10px;
  outline: none;
}


#open_btn_icon {
  transition: transform 0.3s ease;
}

.open-sidebar #open_btn_icon {
  transform: rotate(180deg);
}

#sidebar.open-sidebar {
  min-width: 15%;
}

#sidebar.open-sidebar .item-description {
  width: 150px;
  height: auto;
}

#sidebar.open-sidebar .side-item a {
  justify-content: flex-start;
  gap: 14px;
}