header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  padding: 0 2%;
  background-color: #424242;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.starter {
  display: flex;
  align-items: center;
  gap: 25px;
}

/*ABRIR SIDE BAR*/

.open {
  justify-content: space-between;
}

#open_btn {

  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-size: 20px;
  margin-bottom: 10px;
  outline: none;
}


#open_btn_icon {
  transition: transform 0.3s ease;
}

.open-sidebar #open_btn_icon {
  transform: rotate(180deg);
}

#sidebar.open-sidebar {
  min-width: 15%;
}

#sidebar.open-sidebar .item-description {
  width: 150px;
  height: auto;
}

#sidebar.open-sidebar .side-item a {
  justify-content: flex-start;
  gap: 14px;
}

/*sair*/

#sair {
  --color: white;
  background-color: blueviolet;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2em;

  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: none;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

#sair:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

#sair:hover {
  color: black;
}

#sair:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

#sair:hover:before {
  top: -30px;
  left: -30px;
}