main {
    margin-left: 68px;
    margin-top: 56px;
    display: flex;
    justify-content: center;
}


#cards {
    display: flex;
    gap: 50px;
    justify-content: center;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card {
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: left;
    box-shadow: 0 10px 30px -10px black;
    height: 100%;
    background-color: #424242;
}


.card h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
    text-align: center;
    color: rgb(170, 106, 230);
    text-transform: uppercase;
}

.card p {
    font-size: 1em;
    margin: 5px 0;
    color: aliceblue;
}


.card hr {
    border: 1px solid blueviolet;
    margin: 10px 0;
}

.equipamento {
    padding: 10px;
    border-radius: 10px;
    background-color: #4f4f4f;
    margin-bottom: 20px;
}