html {
    font-size: 62.5%;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 8%;
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 8rem;
}

header.scrolled {
    background-color: rgb(15, 1, 28);
    transition: background-color 0.3s ease;
}

#titulo {
    display: flex;
    align-items: center;
}

#titulo h1 {
    font-size: 3rem;
}

#titulo span {
    font-size: 3.5rem;
    color: blueviolet;
}

#titulo img {
    height: 5rem;
    border: 0.2rem solid blueviolet;
    border-radius: 2rem;
    margin-right: 1rem;
}

#header-menu {
    display: flex;
    gap: 2.5rem;
    text-decoration: none;
    list-style: none;
    font-size: 1.7rem;
    text-transform: uppercase;
}

#headder-botton {
    display: flex;
    align-items: center;
}

.header-menu-item {
    cursor: pointer;
    outline: none;
}

.header-menu-item:hover {
    color: blueviolet;
}

/* Botão entrar */
#header-botton {
    --color: white;
    background-color: blueviolet;
    font-family: inherit;
    display: inline-block;
    width: 10rem;
    height: 3.5rem;

    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: none;
    transition: color 0.5s;
    z-index: 1;
    font-size: 1.7rem;
    border-radius: 0.6rem;
    font-weight: 500;
    color: var(--color);
}

#header-botton:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 15rem;
    width: 20rem;
    border-radius: 50%;
}

#header-botton:hover {
    color: black;
}

#header-botton:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

#header-botton:hover:before {
    top: -3rem;
    left: -3rem;
}