@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

body {
    background-color: #1C1C1C;
}


main {
    display: flex;
    flex-direction: column;
}

/*Hero*/

#hero {
    display: flex;
    justify-content: space-between;
    padding: 24px 8%;
    align-items: center;
    width: 100%;
    height: calc(90vh - 98px);
}

#hero-cont {
    width: 550px;
}

#hero-cont h2 {
    font-size: 50px;
    line-height: 1.1;
}

#hero-cont span {
    font-size: 50px;
    line-height: 1.1;
    color: blueviolet;
}

#hero-cont p {
    font-size: 25px;
    padding: 10px 0;
}


/* Botão Começar da Hero*/
#hero-cont button {
    --color: black;
    background-color: blueviolet;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2em;

    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: none;
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

#hero-cont button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

#hero-cont button:hover {
    color: #fff;
}

#hero-cont button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

#hero-cont button:hover:before {
    top: -30px;
    left: -30px;
}

/*Sobre*/

#sobre {
    display: flex;
    padding: 24px 8%;
    align-items: center;
    justify-content: space-between;

}

#sobre-cont {
    width: 700px;
}

#sobre-cont h3 {
    font-size: 50px;
}

#sobre-cont span {
    color: blueviolet;
}