main {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 56px);
    margin-top: 56px;
    flex-direction: column;
    align-items: center;
    margin-left: 68px;
    padding: 20px;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
    color: whitesmoke;
}

p {
    color: white;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: left;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;

}

.card p {
    font-size: 1em;
    margin: 5px 0;
    color: #555;
}

.card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.card button:hover {
    background-color: #45a049;
}

.card textarea {
    width: 100%;
    height: 80px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 1em;
    color: #555;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: auto;
    outline: none;

}


#botoes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* Editar */
.modal {
    display: none;
    /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}