h1 {
    color: whitesmoke;
}

p {
    color: white;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

table tr {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}