

.form {
    background-color: #424242;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 30px -10px black;
    max-width: 600px;
    margin: auto;
}

.form input[type="text"],
.form input[type="date"],
.form textarea {
    background-color: #4f4f4f;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 3px transparent;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    outline: none;
}

.form input[type="text"]::placeholder{
    color: white;
}

.form input[type="submit"] {
    background-color: #345eb8;
    color: white;
    padding: 15px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.form input[type="submit"]:hover {
    background-color: #000000;
}

.form textarea {
    height: 100px;
    resize: vertical;
}


.celularDate{
    display: flex;
    gap: 20px;
    color: white;
}

.equipPro{
    display:  flex;
    gap: 20px;
    color: white;
}


/*Enviar*/

.Btn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1C;
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 15px;
  }
  
  .svgIcon {
    width: 16px;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .Btn::before {
    width: 100%;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
  }
  
  .Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
  .Btn:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }

