main {
  display: flex;
  justify-content: center;
  height: calc(100vh - 5.6rem);
  margin-left: 8rem;
  margin-top: 5.6rem;
}

form {
  background-color: #424242;
  border-radius: 0.8rem;
  box-shadow: 0 1rem 3rem -1rem black;
  margin: auto;
  padding: 2rem;
  width: 60rem;
}

form input[type="text"],
form input[type="date"],
form textarea {
  background-color: #4f4f4f;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 0.3rem transparent;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: white;
  outline: none;
}

form input[type="text"]::placeholder {
  color: white;
}

form input[type="submit"] {
  background-color: #345eb8;
  color: white;
  padding: 1.5rem 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  font-size: 1.6rem;
}

form input[type="submit"]:hover {
  background-color: #000000;
}

form textarea {
  height: 10rem;
  resize: vertical;
}

.celularDate {
  display: flex;
  gap: 2rem;
  color: white;
}

.equipPro {
  display: flex;
  gap: 2rem;
  color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

/*Enviar*/

#Btn {
  --color: white;
  background-color: blueviolet;
  font-family: inherit;
  display: inline-block;
  width: 100%;
  height: 4.5rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: none;
  transition: color 0.5s;
  z-index: 1;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color);
  border-radius: 1rem;
  margin-top: 0.5rem;
}

#Btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 40rem;
  width: 80rem;
  border-radius: 50%;
}

#Btn:hover {
  color: black;
}

#Btn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

#Btn:hover:before {
  top: -8rem;
  left: -10rem;
}

/* Responsivel */

@media screen and (max-width: 1200px) {
  header {
    position: relative;
  }

  main {
    margin-top: 0;
    margin-left: 0;
    height: calc(100vh - 6rem - 6rem);
    width: 100vw;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 0 4%;
    height: 100%;
    width: 100%;
    align-items: center;
    border-radius: 0;
  }

  form input[type="text"],
  form input[type="date"] {
    font-size: 2rem;
  }

  .celularDate {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .equipPro {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  #mobile {
    margin: 0;
  }
}
